<div class="grid-bg"></div>
<div class="grid-interactive">
  {Array.from({ length: 10000 }).map((_) => <div class="grid-pixel" />)}
</div>

<div class="scanlines"></div>
<div class="scanline-beam"></div>

<div class="corner corner-tl"></div>
<div class="corner corner-tr"></div>
<div class="corner corner-bl"></div>
<div class="corner corner-br"></div>
