---
---

<div class="mesh-gradient"></div>
<div class="grid-bg"></div>

<div class="aura-container">
  <div class="aura-glow glow-gradient" style="bottom: -20%; right: -10%;"></div>
  <div class="aura-glow glow-solid" style="top: -30%; left: -20%;"></div>
</div>

<div class="scanlines"></div>

<div class="corner corner-tl"></div>
<div class="corner corner-tr"></div>
<div class="corner corner-bl"></div>
<div class="corner corner-br"></div>
