<div
  class="font-size-selector"
  style="display: flex; gap: 0.5rem; align-items: center;"
>
  <label
    for="state-font-normal"
    class="custom-button btn-font-normal"
    aria-label="Normal Font Size"
    style="font-size: 12px;">A</label
  >
  <label
    for="state-font-big"
    class="custom-button btn-font-big"
    aria-label="Big Font Size"
    style="font-size: 16px;">A</label
  >
</div>
