---
// ThemeToggle.astro
---

<button id="theme-toggle" class="custom-button" aria-label="Toggle dark mode">
  <!-- Sun Icon (shown in dark mode to switch to light) -->
  <svg
    class="sun"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    style="display: none;"
  >
    <circle cx="12" cy="12" r="4"></circle>
    <path d="M12 2v2"></path>
    <path d="M12 20v2"></path>
    <path d="m4.93 4.93 1.41 1.41"></path>
    <path d="m17.66 17.66 1.41 1.41"></path>
    <path d="M2 12h2"></path>
    <path d="M22 12h2"></path>
    <path d="m6.34 17.66-1.41 1.41"></path>
    <path d="m19.07 4.93-1.41 1.41"></path>
  </svg>
  <!-- Moon Icon (shown in light mode to switch to dark) -->
  <svg
    class="moon"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
  </svg>
</button>

<script>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark" as const;
    }
    return "light" as const;
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  window.localStorage.setItem("theme", theme || "light");

  const updateIcons = (isDark: boolean) => {
    const btn = document.getElementById("theme-toggle");
    if (btn) {
      const sunIcon = btn.querySelector(".sun") as HTMLElement;
      const moonIcon = btn.querySelector(".moon") as HTMLElement;

      if (isDark) {
        // If dark theme is active, show a moon
        if (sunIcon) sunIcon.style.display = "none";
        if (moonIcon) moonIcon.style.display = "block";
      } else {
        // If light theme is active, show a sun
        if (sunIcon) sunIcon.style.display = "block";
        if (moonIcon) moonIcon.style.display = "none";
      }
    }
  };

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");
    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
    updateIcons(isDark);
  };

  document
    .getElementById("theme-toggle")
    ?.addEventListener("click", handleToggleClick);

  // Initial run
  updateIcons(document.documentElement.classList.contains("dark"));
</script>
